.zone_de_texte
{
      /*
      width: calc(50% - 6vw);
      height: auto;
      overflow: auto;
      padding-top: 50px;
      padding-left: 2vw;
      background-color: white;
      position: absolute;
      top: 50px; left: 0; bottom: 0; right: 0;
      */
      background-color: white;
      margin: 90px auto 90px auto;
      position: absolute;
      top: 50px; left: 0%; bottom: 0; right: 0;
      width: calc(80% - 6vw);
      height: 1200px;  /*calc(80% - 6vw)*/
      padding: 2vw 2vw;
      z-index: 1;
}
/*a:hover
{
      background-color: white;
}
*/
article
{
      padding-bottom: 10px;
}

abbr,acronym { border-bottom: 1px dotted; cursor: help; text-decoration: none;}

abbr:hover, abbr:focus, abbr:active acronym:hover, acronym:focus, acronym:active{ border-bottom-style: solid; }


span
{
      text-decoration: underline;
      color: FFFFFF;
}
