:root {

  /* SETUP DES VARIABLES DE COULEUR DE LA NAVBAR POUR RAPID EDIT */

  --nav-home-left-primary: #010953; /* home couleur gauche non hover */
  --nav-home-right-primary: #0014d1; /* home couleur droite non hover */
  --nav-home-left-secondary: #000530; /* home couleur gauche hover */
  --nav-home-right-secondary: #0010a1; /* home couleur droite hover */

  --nav-creations-left-primary: #0014d1; /* creations couleur gauche non hover */
  --nav-creations-right-primary: #d417c4; /* creations couleur droite non hover */
  --nav-creations-left-secondary: #0010a1; /* creations couleur gauche hover */
  --nav-creations-right-secondary: #922989; /* creations couleur droite hover */

  --nav-apropos-left-primary: #d417c4;
  --nav-apropos-right-primary: #8b089c;
  --nav-apropos-left-secondary: #922989;
  --nav-apropos-right-secondary: #640670;

  --nav-contact-left-primary: #8b089c;
  --nav-contact-right-primary: #5c0168;
  --nav-contact-left-secondary: #640670;
  --nav-contact-right-secondary: #2f0035;

  --footer-primary: #0014d1;
  --footer-secondary: #010f8f;

  --body-primary : #a1b1e2;
  --body-secondary :#a1b1e2 ; /*#6f7fb5*/
}



#wrap{
      width: 100%;
      height: auto;
      margin: 0;
      z-index: 99;
      position: fixed;
      top: 0;
      left: 0;
      background-color: #0014d1 ; /*#444444;*/
      }
      .navbar{
      height: auto;
      padding: 0;
      margin: 0;
      position: absolute;
      }
      .navbar li{
      height: auto;
      width: 25vw ; /*135.8px -- 476px -- 24.7vw -- calc(25vw-5px)*/
      float: left;
      text-align: center;
      list-style: none;
      font: normal bold 13px/3em Arial, Verdana, Helvetica;
      padding: 0;
      margin: 0;
      /* background-color: #0014d1 ; #444444; */
      }

      /* Nav bar home style and hover effect changes */
      .home {
        background: linear-gradient(to right, var(--nav-home-left-primary), var(--nav-home-right-primary));
        /* transition: all 1s ease-out; */
      }
      .home:hover , .home:focus {
        background: linear-gradient(to right, var(--nav-home-left-secondary), var(--nav-home-right-secondary));
        /* transition: all 1s ease-out; */
      }
      /* Nav bar creations style and hover effect changes */
      .creations {
        background: linear-gradient(to right, var(--nav-creations-left-primary), var(--nav-creations-right-primary));
        /* transition: all 2s ease-out; */
      }
      .creations:hover, .creations:focus {
        background: linear-gradient(to right, var(--nav-creations-left-secondary), var(--nav-creations-right-secondary));
      }
      .creations ul li {
        background: linear-gradient(to right, var(--nav-creations-left-primary), var(--nav-creations-right-primary));
        /* transition: all 1s ease-out; */
      }
      .creations ul li:hover , .creations ul li:focus {
        background: linear-gradient(to right, var(--nav-creations-left-secondary), var(--nav-creations-right-secondary));
        /* transition: all 1s ease-out; */
      }

      /* Nav bar a propos style and hover effect changes */
      .a_propos {
        background: linear-gradient(to right, var(--nav-apropos-left-primary), var(--nav-apropos-right-primary) );
        /* transition: all 1s ease-out; */
      }
      .a_propos:hover, .a_propos:focus {
        background: linear-gradient(to right, var(--nav-apropos-left-secondary), var(--nav-apropos-right-secondary));
        /* transition: all 1s ease-out; */
      }
      .a_propos ul li {
        background: linear-gradient(to right, var(--nav-apropos-left-primary), var(--nav-apropos-right-primary));
      }
      .a_propos ul li:hover, .a_propos ul li:focus {
        background: linear-gradient(to right, var(--nav-apropos-left-secondary), var(--nav-apropos-right-secondary));
      }

      /* Nav bar contact style and hover effect changes */
      .contact_us  {
        background: linear-gradient(to right, var(--nav-contact-left-primary), var(--nav-contact-right-primary));
        /* transition: all 1s ease-out; */
      }
      .contact_us:hover , .contact_us:focus  {
        background: linear-gradient(to right, var(--nav-contact-left-secondary), var(--nav-contact-right-secondary));
        /* transition: all 1s ease-out; */
      }
      .contact_us ul li {
        background: linear-gradient(to right, var(--nav-contact-left-primary), var(--nav-contact-right-primary));
        /* transition: all 1s ease-out; */
      }
      .contact_us ul li:hover, .contact_us ul li:focus {
        background: linear-gradient(to right, var(--nav-contact-left-secondary), var(--nav-contact-right-secondary));
        /* transition: all 1s ease-out; */
      }




      .navbar a{
      padding: 18px 0; /*18px 0*/
      border-left: 1px solid #ccc9c9;
      text-decoration: none;
      color: white;
      display: block;
      font-size: 1.5em;
      }
      /* .navbar li:hover, .navbar a:hover {
        background-color: #003C7E; #000000;
      } */
      .navbar li ul{
      display: none;
      height: auto;
      margin: 0;
      padding: 0;
      }
      .navbar li:hover ul{
      display: block;
      }
      /* .navbar li ul li {
      background-color: #0014d1 ; #444444;
      } */
      .navbar li ul li a{
      border-left: 1px solid #444444;
      border-right: 1px solid #444444;
      border-top: 1px solid #c9d4d8;
      border-bottom: 1px solid #444444;
      }
      /* .navbar li ul li a:hover{
      background-color: #729DFF; #a3a1a1;
      } */


a
{
      text-decoration: underline;
      color: green;
}

@media screen and (max-width: 800px)
{
h1
{
    display: block;
    font-size: 1.2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    text-align: center;
}
h2
{
    display: block;
    font-size: 1em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
h3
{
    display: block;
    font-size: 0.75em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
ul li ul li
{
    font-size: 0.8em;
}
p
{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 0.5em;
}

#wrap{
    width: 100%;
    height: auto;
    margin: 0;
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0014d1 ; /*#444444;*/
    }
    .navbar{
    height: auto;
    padding: 0;
    margin: 0;
    position: absolute;
    }
    .navbar li{
    height: auto;
    width: 25vw ; /*135.8px -- 476px -- 24.7vw -- calc(25vw-5px)*/
    float: left;
    text-align: center;
    list-style: none;
    font: normal bold 13px/2em Arial, Verdana, Helvetica;
    padding: 0;
    margin: 0;
    background-color: #0014d1 ; /*#444444;*/
    }
    .navbar a{
    padding: 18px 0; /*18px 0*/
    border-left: 1px solid #ccc9c9;
    text-decoration: none;
    color: white;
    display: block;
    }
    .navbar li:hover, .navbar a:hover {
    background-color: #003C7E; /*#000000;*/
    }
    .navbar li ul{
    display: none;
    height: auto;
    margin: 0;
    padding: 0;
    }
    .navbar li:hover ul{
    display: block;
    }
    .navbar li ul li {
    background-color: #0014d1 ; /*#444444;*/
    }
    .navbar li ul li a{
    border-left: 1px solid #444444;
    border-right: 1px solid #444444;
    border-top: 1px solid #c9d4d8;
    border-bottom: 1px solid #444444;
    }
    .navbar li ul li a:hover{
    background-color: #729DFF; /*#a3a1a1;*/
    }

}


h1
{
  display: block;
  font-size: 2.5em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  text-align: center;
}
h2
{
  display: block;
  font-size: 2em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
h3
{
  display: block;
  font-size: 1.5em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
p
{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 1.3em;
}
ul li
{
    font-size: 1.3em;
}

.texte ul
{
  padding-inline-start: 1em;
}

figcaption
{
      display: block;
      font-size: 1.3em;
}


body /*Parametres arrière plan gris + taille (test)*/
{
      /* background-color: #6f7fb5; #808080; */
      background: linear-gradient(to left, var(--body-primary), var(--body-secondary));
}

footer
{
    width: 100%;
    height: 100px;
    position: absolute;
    left: 0px;
    /* background-color: #0014d1; #606060; */
}

.texte_footer
{
      text-align: center;
      color: white;
      /* background-color: #0014d1; #606060; */
      background: linear-gradient(to top, var(--footer-primary), var(--footer-secondary));
      padding-bottom: 20px;
      padding-top: 20px;
      margin-top: 70px;
      margin-bottom: 0;
}

.texte_footer a
{
      color: white;
      text-decoration: underline;
      margin-top: 5px ;
      margin-bottom: 5px;
      /* background-color: #0014d1; #606060; */
}


footer span
{
      padding-right: 20px;
      padding-left: 20px;
}

.underline
{
  text-decoration: underline;
}
